In [1]:
import pandas as pd

df = pd.read_csv('../../data/occupations.csv')
df

     age gender     occupation
0     24      M     technician
1     53      F          other
2     23      M         writer
3     24      M     technician
4     33      F          other
..   ...    ...            ...
938   26      F        student
939   32      M  administrator
940   20      M        student
941   48      F      librarian
942   22      M        student

[943 rows x 3 columns]

In [2]:
occupation = df.groupby('occupation')

In [3]:
df.loc[df['gender'] == 'M', 'gender'] = 0
df.loc[df['gender'] == 'F', 'gender'] = 1

In [4]:
df['gender'] = pd.to_numeric(df['gender'])
occupation.mean()['gender'].sort_values(ascending=False)

occupation
homemaker        0.857143
healthcare       0.687500
librarian        0.568627
artist           0.464286
administrator    0.455696
none             0.444444
writer           0.422222
marketing        0.384615
other            0.342857
student          0.306122
educator         0.273684
salesman         0.250000
lawyer           0.166667
entertainment    0.111111
scientist        0.096774
executive        0.093750
programmer       0.090909
retired          0.071429
technician       0.037037
engineer         0.029851
doctor           0.000000
Name: gender, dtype: float64