In [1]:
import pandas as pd
df = pd.read_csv('../../data/toeic.csv')

In [2]:
df['합격 여부'] = (df['LC'] + df['RC'] >= 600) & (df['LC'] >= 250) & (df['RC'] >= 250)

In [3]:
df

   Gender   LC   RC  합격 여부
0  female  315  320   True
1  female  430  245  False
2  female  430  475   True
3    male  180  220  False
4    male  325  350   True
5  female  295  400   True
6  female  405  475   True
7    male  155  150  False
8    male  280  315  False
9  female  215  475  False