In [1]:
import pandas as pd
df = pd.read_csv('../../data/world_cities.csv')
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [2]:
df['City / Urban area'].value_counts().shape

(249,)

In [3]:
df['Country'].value_counts().shape

(61,)

In [4]:
df["Density"] = df["Population"] / df["Land area (in sqKm)"]

In [5]:
df_high_density = df[df["Density"] > 10000]
df_high_density.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 32 to 129
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           19 non-null     int64
 1   City / Urban area    19 non-null     object
 2   Country              19 non-null     object
 3   Population           19 non-null     int64
 4   Land area (in sqKm)  19 non-null     int64
 5   Density              19 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.0+ KB

In [6]:
density_rank = df.sort_values(by="Density", ascending = False)
density_rank['City / Urban area']

75              Mumbai
74             Kolkata
101            Karachi
99               Lagos
34            Shenzhen
            ...
194        Chattanooga
223          Asheville
57                 Pau
220            Hickory
196    Barnstable Town
Name: City / Urban area, Length: 249, dtype: object

In [7]:
countries = df['Country'].value_counts()

In [8]:
countries[countries == 4]

Italy    4
Name: Country, dtype: int64